<a href="https://colab.research.google.com/github/pineland/AI-and-DataScience-2019/blob/master/test10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving grades.csv to grades.csv

In [2]:
!ls

grades.csv  sample_data

In [3]:
for fn in uploaded.keys():
  print("Uploaded file: ", fn)

Uploaded file:  grades.csv

In [5]:
import pandas as pd
import io

df = pd.read_csv(io.StringIO(uploaded['grades.csv'].decode('utf-8')))

In [6]:
df

                                student_id  ...         assignment6_submission
0     B73F2C11-70F0-E37D-8B10-1D20AFED50B1  ...  2015-11-22 18:31:15.934000000
1     98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1  ...  2015-12-21 17:07:24.275000000
2     D0F62040-CEB0-904C-F563-2F8620916C4E  ...  2016-01-17 16:24:42.765000000
3     FFDF2B2C-F514-EF7F-6538-A6A53518E9DC  ...  2016-05-26 08:09:12.058000000
4     5ECBEEB6-F1CE-80AE-3164-E45E99473FB4  ...  2016-01-05 01:06:59.546000000
...                                    ...  ...                            ...
2310  DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2  ...  2016-03-25 11:00:06.923000000
2311  DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2  ...  2015-12-22 13:34:42.931000000
2312  EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31  ...  2015-12-04 09:56:07.156000000
2313  1F51E050-78F7-F270-1B90-ED1BC0376763  ...  2016-04-23 03:44:06.813000000
2314  DDE0526B-7DA4-80E8-C2A6-D097F3826029  ...  2015-10-26 15:56:55.460000000

[2315 rows x 13 columns]

In [7]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive